<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>產品列表</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Microsoft JhengHei', '微軟正黑體';
        }
    </style>
</head>
<body class="bg-light">
    <div id="app">
        <div class="container">
            <div class="d-flex justify-content-end mt-5 mb-3">
                <button type="button" class="btn btn-warning" @click="openModal('new')">建立新產品</button>
            </div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">分類</th>
                        <th scope="col">產品名稱</th>
                        <th scope="col">熱量</th>
                        <th scope="col">原價</th>
                        <th scope="col">售價</th>
                        <th scope="col">是否啟用</th>
                        <th scope="col" style="width: 130px;">編輯</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(product, index) in products" :key="product.id">
                        <th scope="row">{{index}}</th>
                        <td>{{product.category}}</td>
                        <td>{{product.title}}</td>
                        <td>{{product.calories}} kcal</td>
                        <td>{{product.origin_price}}</td>
                        <td>{{product.price}}</td>
                        <td>
                            <span v-if="product.is_enabled">啟用</span>
                            <span v-else class="text-danger">未啟用</span>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary" @click="openModal('edit', product)">編輯</button>
                                <button type="button" class="btn btn-sm btn-outline-danger" @click="openModal('delete', product)">刪除</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination :pages="pagination" @emit-pages="getProducts"></pagination>
            <product-modal ref="productModel" :status="status" :is-new="isNew" :user="user" @update="getProducts"></product-modal>
            <del-product-modal :temp-product="tempProduct" :user="user" @update="getProducts"></del-product-modal>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- 刪除元件建立 -->
    <script src="./js/delProductModal.js"></script>
    <!-- 產品元件建立 -->
    <script src="./js/productModal.js"></script>
    <!-- 分頁 -->
    <script src="./js/pagination.js"></script>
    <!-- 主要 JS -->
    <script src="./js/all.js"></script>
    
</body>
</html>